openapi: 3.0.3
info:
  description: Preview of the Discord v10 HTTP API specification. See https://discord.com/developers/docs
    for more details.
  license:
    name: MIT
  termsOfService: https://discord.com/developers/docs/policies-and-agreements/developer-terms-of-service
  title: Discord HTTP API (Preview)
  version: "10"
externalDocs:
  description: Discord Developer Documentation
  url: https://discord.com/developers/docs
servers:
- url: https://discord.com/api/v10
paths:
  /oauth2/applications/@me:
    get:
      operationId: get_my_oauth2_application
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateApplicationResponse'
          description: 200 response for get_my_oauth2_application
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /users/@me/connections:
    get:
      operationId: list_my_connections
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectedAccountResponse'
                nullable: true
                type: array
          description: 200 response for list_my_connections
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - connections
  /users/@me/channels:
    post:
      operationId: create_dm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrivateChannelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_dm_200_response'
          description: 200 response for create_dm
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /users/@me/guilds:
    get:
      operationId: list_my_guilds
      parameters:
      - explode: true
        in: query
        name: before
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: with_counts
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MyGuildResponse'
                nullable: true
                type: array
          description: 200 response for list_my_guilds
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - guilds
  /applications/@me:
    get:
      operationId: get_my_application
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateApplicationResponse'
          description: 200 response for get_my_application
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    patch:
      operationId: update_my_application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationFormPartial'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateApplicationResponse'
          description: 200 response for update_my_application
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /gateway/bot:
    get:
      operationId: get_bot_gateway
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayBotResponse'
          description: 200 response for get_bot_gateway
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /oauth2/keys:
    get:
      operationId: get_public_keys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2GetKeys'
          description: 200 response for get_public_keys
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - {}
      - BotToken: []
  /oauth2/@me:
    get:
      operationId: get_my_oauth2_authorization
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2GetAuthorizationResponse'
          description: 200 response for get_my_oauth2_authorization
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - activities.read
        - activities.write
        - applications.builds.read
        - applications.builds.upload
        - applications.commands
        - applications.commands.permissions.update
        - applications.commands.update
        - applications.entitlements
        - applications.store.update
        - bot
        - connections
        - dm_channels.read
        - email
        - gdm.join
        - guilds
        - guilds.join
        - guilds.members.read
        - identify
        - messages.read
        - openid
        - relationships.read
        - role_connections.write
        - rpc
        - rpc.activities.write
        - rpc.notifications.read
        - rpc.screenshare.read
        - rpc.screenshare.write
        - rpc.video.read
        - rpc.video.write
        - rpc.voice.read
        - rpc.voice.write
        - voice
        - webhook.incoming
  /voice/regions:
    get:
      operationId: list_voice_regions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VoiceRegionResponse'
                nullable: true
                type: array
          description: 200 response for list_voice_regions
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /users/@me:
    get:
      operationId: get_my_user
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPIIResponse'
          description: 200 response for get_my_user
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - identify
    patch:
      operationId: update_my_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotAccountPatchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPIIResponse'
          description: 200 response for update_my_user
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /soundboard-default-sounds:
    get:
      operationId: get_soundboard_default_sounds
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SoundboardSoundResponse'
                type: array
          description: 200 response for get_soundboard_default_sounds
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /stage-instances:
    post:
      operationId: create_stage_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_stage_instance_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StageInstanceResponse'
          description: 200 response for create_stage_instance
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /sticker-packs:
    get:
      operationId: list_sticker_packs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StickerPackCollectionResponse'
          description: 200 response for list_sticker_packs
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - {}
      - BotToken: []
  /gateway:
    get:
      operationId: get_gateway
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayResponse'
          description: 200 response for get_gateway
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - {}
      - BotToken: []
  /guilds:
    post:
      operationId: create_guild
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuildCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildResponse'
          description: 201 response for create_guild
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/users/@me/threads/archived/private:
    get:
      operationId: list_my_private_archived_threads
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: true
        in: query
        name: before
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 2
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadsResponse'
          description: 200 response for list_my_private_archived_threads
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /applications/{application_id}/guilds/{guild_id}/commands/permissions:
    get:
      operationId: list_guild_application_command_permissions
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CommandPermissionsResponse'
                type: array
          description: 200 response for list_guild_application_command_permissions
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.commands.permissions.update
  /applications/{application_id}/guilds/{guild_id}/commands/{command_id}/permissions:
    get:
      operationId: get_guild_application_command_permissions
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: command_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandPermissionsResponse'
          description: 200 response for get_guild_application_command_permissions
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.commands.permissions.update
    put:
      operationId: set_guild_application_command_permissions
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: command_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/set_guild_application_command_permissions_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandPermissionsResponse'
          description: 200 response for set_guild_application_command_permissions
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.commands.permissions.update
  /channels/{channel_id}/messages/{message_id}/reactions/{emoji_name}/@me:
    delete:
      operationId: delete_my_message_reaction
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: emoji_name
        required: true
        schema:
          maxLength: 152133
          type: string
        style: simple
      responses:
        "204":
          description: 204 response for delete_my_message_reaction
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    put:
      operationId: add_my_message_reaction
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: emoji_name
        required: true
        schema:
          maxLength: 152133
          type: string
        style: simple
      responses:
        "204":
          description: 204 response for add_my_message_reaction
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/threads/archived/private:
    get:
      operationId: list_private_archived_threads
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 2
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadsResponse'
          description: 200 response for list_private_archived_threads
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/threads/archived/public:
    get:
      operationId: list_public_archived_threads
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 2
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadsResponse'
          description: 200 response for list_public_archived_threads
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /users/@me/applications/{application_id}/role-connection:
    delete:
      operationId: delete_application_user_role_connection
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for delete_application_user_role_connection
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - OAuth2:
        - role_connections.write
    get:
      operationId: get_application_user_role_connection
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationUserRoleConnectionResponse'
          description: 200 response for get_application_user_role_connection
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - OAuth2:
        - role_connections.write
    put:
      operationId: update_application_user_role_connection
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_application_user_role_connection_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationUserRoleConnectionResponse'
          description: 200 response for update_application_user_role_connection
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - OAuth2:
        - role_connections.write
  /users/@me/guilds/{guild_id}/member:
    get:
      operationId: get_my_guild_member
      parameters:
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGuildMemberResponse'
          description: 200 response for get_my_guild_member
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - OAuth2:
        - guilds.members.read
  /applications/{application_id}/role-connections/metadata:
    get:
      operationId: get_application_role_connections_metadata
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationRoleConnectionsMetadataItemResponse'
                nullable: true
                type: array
          description: 200 response for get_application_role_connections_metadata
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    put:
      operationId: update_application_role_connections_metadata
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ApplicationRoleConnectionsMetadataItemRequest'
              maxItems: 5
              nullable: true
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationRoleConnectionsMetadataItemResponse'
                nullable: true
                type: array
          description: 200 response for update_application_role_connections_metadata
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /applications/{application_id}/entitlements/{entitlement_id}/consume:
    post:
      operationId: consume_entitlement
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: entitlement_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for consume_entitlement
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.entitlements
  /applications/{application_id}/guilds/{guild_id}/commands/{command_id}:
    delete:
      operationId: delete_guild_application_command
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: command_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for delete_guild_application_command
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.commands.update
    get:
      operationId: get_guild_application_command
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: command_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCommandResponse'
          description: 200 response for get_guild_application_command
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.commands.update
    patch:
      operationId: update_guild_application_command
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: command_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCommandPatchRequestPartial'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCommandResponse'
          description: 200 response for update_guild_application_command
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.commands.update
  /applications/{application_id}/guilds/{guild_id}/commands:
    get:
      operationId: list_guild_application_commands
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: true
        in: query
        name: with_localizations
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationCommandResponse'
                nullable: true
                type: array
          description: 200 response for list_guild_application_commands
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.commands.update
    post:
      operationId: create_guild_application_command
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCommandCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCommandResponse'
          description: 200 response for create_guild_application_command
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCommandResponse'
          description: 201 response for create_guild_application_command
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.commands.update
    put:
      operationId: bulk_set_guild_application_commands
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ApplicationCommandUpdateRequest'
              maxItems: 110
              nullable: true
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationCommandResponse'
                nullable: true
                type: array
          description: 200 response for bulk_set_guild_application_commands
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.commands.update
  /channels/{channel_id}/thread-members/@me:
    delete:
      operationId: leave_thread
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for leave_thread
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    put:
      operationId: join_thread
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for join_thread
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/messages/bulk-delete:
    post:
      operationId: bulk_delete_messages
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulk_delete_messages_request'
        required: true
      responses:
        "204":
          description: 204 response for bulk_delete_messages
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/messages/{message_id}/reactions/{emoji_name}/{user_id}:
    delete:
      operationId: delete_user_message_reaction
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: emoji_name
        required: true
        schema:
          maxLength: 152133
          type: string
        style: simple
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for delete_user_message_reaction
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/messages/{message_id}/reactions/{emoji_name}:
    delete:
      operationId: delete_all_message_reactions_by_emoji
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: emoji_name
        required: true
        schema:
          maxLength: 152133
          type: string
        style: simple
      responses:
        "204":
          description: 204 response for delete_all_message_reactions_by_emoji
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    get:
      operationId: list_message_reactions_by_emoji
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: emoji_name
        required: true
        schema:
          maxLength: 152133
          type: string
        style: simple
      - explode: true
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UserResponse'
                type: array
          description: 200 response for list_message_reactions_by_emoji
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/messages/{message_id}/reactions:
    delete:
      operationId: delete_all_message_reactions
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for delete_all_message_reactions
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/messages/{message_id}/crosspost:
    post:
      operationId: crosspost_message
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: 200 response for crosspost_message
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/messages/{message_id}/threads:
    post:
      operationId: create_thread_from_message
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTextThreadWithMessageRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadResponse'
          description: 201 response for create_thread_from_message
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /webhooks/{webhook_id}/{webhook_token}/messages/@original:
    delete:
      operationId: delete_original_webhook_message
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: webhook_token
        required: true
        schema:
          maxLength: 152133
          type: string
        style: simple
      - explode: true
        in: query
        name: thread_id
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      responses:
        "204":
          description: 204 response for delete_original_webhook_message
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - {}
      - BotToken: []
    get:
      operationId: get_original_webhook_message
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: webhook_token
        required: true
        schema:
          maxLength: 152133
          type: string
        style: simple
      - explode: true
        in: query
        name: thread_id
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: 200 response for get_original_webhook_message
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - {}
      - BotToken: []
    patch:
      operationId: update_original_webhook_message
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: webhook_token
        required: true
        schema:
          maxLength: 152133
          type: string
        style: simple
      - explode: true
        in: query
        name: thread_id
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncomingWebhookUpdateRequestPartial'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/IncomingWebhookUpdateRequestPartial'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/update_original_webhook_message_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: 200 response for update_original_webhook_message
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - {}
      - BotToken: []
  /guilds/{guild_id}/scheduled-events/{guild_scheduled_event_id}/users:
    get:
      operationId: list_guild_scheduled_event_users
      parameters:
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: guild_scheduled_event_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: true
        in: query
        name: with_member
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScheduledEventUserResponse'
                nullable: true
                type: array
          description: 200 response for list_guild_scheduled_event_users
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /guilds/{guild_id}/auto-moderation/rules/{rule_id}:
    delete:
      operationId: delete_auto_moderation_rule
      parameters:
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: rule_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for delete_auto_moderation_rule
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    get:
      operationId: get_auto_moderation_rule
      parameters:
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: rule_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_auto_moderation_rule_200_response'
          description: 200 response for get_auto_moderation_rule
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    patch:
      operationId: update_auto_moderation_rule
      parameters:
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: rule_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_auto_moderation_rule_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_auto_moderation_rule_200_response'
          description: 200 response for update_auto_moderation_rule
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /guilds/{guild_id}/auto-moderation/rules:
    get:
      operationId: list_auto_moderation_rules
      parameters:
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/list_auto_moderation_rules_200_response_inner'
                nullable: true
                type: array
          description: 200 response for list_auto_moderation_rules
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    post:
      operationId: create_auto_moderation_rule
      parameters:
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_auto_moderation_rule_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_auto_moderation_rule_200_response'
          description: 200 response for create_auto_moderation_rule
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /guilds/{guild_id}/voice-states/@me:
    patch:
      operationId: update_self_voice_state
      parameters:
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_self_voice_state_request'
        required: true
      responses:
        "204":
          description: 204 response for update_self_voice_state
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /guilds/{guild_id}/members/search:
    get:
      operationId: search_guild_members
      parameters:
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: true
        in: query
        name: limit
        required: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: query
        required: true
        schema:
          maxLength: 100
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GuildMemberResponse'
                type: array
          description: 200 response for search_guild_members
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /guilds/{guild_id}/threads/active:
    get:
      operationId: get_active_guild_threads
      parameters:
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadsResponse'
          description: 200 response for get_active_guild_threads
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /guilds/{guild_id}/members/@me:
    patch:
      operationId: update_my_guild_member
      parameters:
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_my_guild_member_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGuildMemberResponse'
          description: 200 response for update_my_guild_member
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /guilds/{guild_id}/members/{user_id}/roles/{role_id}:
    delete:
      operationId: delete_guild_member_role
      parameters:
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: role_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for delete_guild_member_role
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    put:
      operationId: add_guild_member_role
      parameters:
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: role_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for add_guild_member_role
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /users/@me/guilds/{guild_id}:
    delete:
      operationId: leave_guild
      parameters:
      - explode: false
        in: path
        name: guild_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for leave_guild
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /applications/{application_id}/entitlements/{entitlement_id}:
    delete:
      operationId: delete_entitlement
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: entitlement_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for delete_entitlement
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.entitlements
    get:
      operationId: get_entitlement
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: entitlement_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementResponse'
          description: 200 response for get_entitlement
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.entitlements
  /applications/{application_id}/entitlements:
    get:
      operationId: get_entitlements
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: true
        in: query
        name: user_id
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      - explode: true
        in: query
        name: sku_ids
        required: true
        schema:
          $ref: '#/components/schemas/get_entitlements_sku_ids_parameter'
        style: form
      - explode: true
        in: query
        name: guild_id
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: exclude_ended
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: only_active
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/get_entitlements_200_response_inner'
                type: array
          description: 200 response for get_entitlements
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.entitlements
    post:
      operationId: create_entitlement
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntitlementRequestData'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementResponse'
          description: 200 response for create_entitlement
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /applications/{application_id}/commands/{command_id}:
    delete:
      operationId: delete_application_command
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: command_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for delete_application_command
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.commands.update
    get:
      operationId: get_application_command
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: command_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCommandResponse'
          description: 200 response for get_application_command
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.commands.update
    patch:
      operationId: update_application_command
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: command_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCommandPatchRequestPartial'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCommandResponse'
          description: 200 response for update_application_command
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.commands.update
  /applications/{application_id}/commands:
    get:
      operationId: list_application_commands
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: true
        in: query
        name: with_localizations
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationCommandResponse'
                nullable: true
                type: array
          description: 200 response for list_application_commands
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.commands.update
    post:
      operationId: create_application_command
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCommandCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCommandResponse'
          description: 200 response for create_application_command
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCommandResponse'
          description: 201 response for create_application_command
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.commands.update
    put:
      operationId: bulk_set_application_commands
      parameters:
      - explode: false
        in: path
        name: application_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ApplicationCommandUpdateRequest'
              maxItems: 110
              nullable: true
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationCommandResponse'
                nullable: true
                type: array
          description: 200 response for bulk_set_application_commands
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
      - OAuth2:
        - applications.commands.update
  /interactions/{interaction_id}/{interaction_token}/callback:
    post:
      operationId: create_interaction_response
      parameters:
      - explode: false
        in: path
        name: interaction_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: interaction_token
        required: true
        schema:
          maxLength: 152133
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_interaction_response_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/create_interaction_response_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/create_interaction_response_request'
        required: true
      responses:
        "204":
          description: 204 response for create_interaction_response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - {}
      - BotToken: []
  /channels/{channel_id}/thread-members/{user_id}:
    delete:
      operationId: delete_thread_member
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for delete_thread_member
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    get:
      operationId: get_thread_member
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: true
        in: query
        name: with_member
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadMemberResponse'
          description: 200 response for get_thread_member
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    put:
      operationId: add_thread_member
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for add_thread_member
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/thread-members:
    get:
      operationId: list_thread_members
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: true
        in: query
        name: with_member
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ThreadMemberResponse'
                type: array
          description: 200 response for list_thread_members
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/permissions/{overwrite_id}:
    delete:
      operationId: delete_channel_permission_overwrite
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: overwrite_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for delete_channel_permission_overwrite
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    put:
      operationId: set_channel_permission_overwrite
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: overwrite_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/set_channel_permission_overwrite_request'
        required: true
      responses:
        "204":
          description: 204 response for set_channel_permission_overwrite
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/recipients/{user_id}:
    delete:
      operationId: delete_group_dm_user
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for delete_group_dm_user
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    put:
      operationId: add_group_dm_user
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/add_group_dm_user_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_dm_200_response'
          description: 201 response for add_group_dm_user
        "204":
          description: 204 response for add_group_dm_user
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/followers:
    post:
      operationId: follow_channel
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/follow_channel_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelFollowerResponse'
          description: 200 response for follow_channel
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/messages/{message_id}:
    delete:
      operationId: delete_message
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for delete_message
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    get:
      operationId: get_message
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: 200 response for get_message
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    patch:
      operationId: update_message
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageEditRequestPartial'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MessageEditRequestPartial'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/update_message_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: 200 response for update_message
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/messages:
    get:
      operationId: list_messages
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: true
        in: query
        name: around
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MessageResponse'
                nullable: true
                type: array
          description: 200 response for list_messages
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    post:
      operationId: create_message
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageCreateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MessageCreateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/create_message_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: 200 response for create_message
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/webhooks:
    get:
      operationId: list_channel_webhooks
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/list_channel_webhooks_200_response_inner'
                nullable: true
                type: array
          description: 200 response for list_channel_webhooks
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    post:
      operationId: create_webhook
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_webhook_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildIncomingWebhookResponse'
          description: 200 response for create_webhook
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/invites:
    get:
      operationId: list_channel_invites
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/list_channel_invites_200_response_inner'
                nullable: true
                type: array
          description: 200 response for list_channel_invites
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    post:
      operationId: create_channel_invite
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_channel_invite_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_channel_invites_200_response_inner'
          description: 200 response for create_channel_invite
        "204":
          description: 204 response for create_channel_invite
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/threads:
    post:
      operationId: create_thread
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_thread_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/create_thread_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/create_thread_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedThreadResponse'
          description: 201 response for create_thread
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/typing:
    post:
      operationId: trigger_typing_indicator
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypingIndicatorResponse'
          description: 200 response for trigger_typing_indicator
        "204":
          description: 204 response for trigger_typing_indicator
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/pins/{message_id}:
    delete:
      operationId: unpin_message
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for unpin_message
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
    put:
      operationId: pin_message
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "204":
          description: 204 response for pin_message
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /channels/{channel_id}/pins:
    get:
      operationId: list_pinned_messages
      parameters:
      - explode: false
        in: path
        name: channel_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MessageResponse'
                nullable: true
                type: array
          description: 200 response for list_pinned_messages
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - BotToken: []
  /webhooks/{webhook_id}/{webhook_token}/messages/{message_id}:
    delete:
      operationId: delete_webhook_message
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: webhook_token
        required: true
        schema:
          maxLength: 152133
          type: string
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: true
        in: query
        name: thread_id
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      responses:
        "204":
          description: 204 response for delete_webhook_message
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - {}
      - BotToken: []
    get:
      operationId: get_webhook_message
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: webhook_token
        required: true
        schema:
          maxLength: 152133
          type: string
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: true
        in: query
        name: thread_id
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: 200 response for get_webhook_message
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - {}
      - BotToken: []
    patch:
      operationId: update_webhook_message
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: webhook_token
        required: true
        schema:
          maxLength: 152133
          type: string
        style: simple
      - explode: false
        in: path
        name: message_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: true
        in: query
        name: thread_id
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncomingWebhookUpdateRequestPartial'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/IncomingWebhookUpdateRequestPartial'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/update_original_webhook_message_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: 200 response for update_webhook_message
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - {}
      - BotToken: []
  /webhooks/{webhook_id}/{webhook_token}/github:
    post:
      operationId: execute_github_compatible_webhook
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: simple
      - explode: false
        in: path
        name: webhook_token
        required: true
        schema:
          maxLength: 152133
          type: string
        style: simple
      - explode: true
        in: query
        name: wait
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: thread_id
        required: false
        schema:
          $ref: '#/components/schemas/SnowflakeType'
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GithubWebhook'
        required: true
      responses:
        "204":
          description: 204 response for execute_github_compatible_webhook
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client error response
      security:
      - {}
      - BotToken: []
  /webhooks/{webhook_id}/{webhook_token}/slack:
    post:
      operationId: execute_slack_compatible_webhook
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          $ref: '#/components/schemas/SnowflakeType'
[...]
